# Dependências do Node.js
/node_modules/
/npm-debug.log*
/yarn-error.log

# Pasta de build do React Native
/android/
/ios/

# Arquivos do Expo
.expo/
.expo-shared/

# Diretório de cache do Metro Bundler
# https://facebook.github.io/metro/docs/en/configuration
.cache/
dist/

# Arquivos de logs
*.log

# Configurações do VSCode
.vscode/

# Builds e artefatos temporários
/build/
.DS_Store

# Informações de depuração
*.stackdump

# Test coverage
/coverage/

# Arquivos de ambiente local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Pods gerados pelo CocoaPods para iOS
Pods/
